.c1
{
    margin-left: 100pt;
    align-items: center;
    border-style: solid;
    border-color: rgb(18, 18, 24);
    width: fit-content;
    height:fit-content;
    background-color: chartreuse;
}

/*
.c1 textarea
{
    margin-top:10pt;
    margin-bottom:10pt;
}

.c1 label {
    color: #B4886B;
    font-weight: bold;
    display: block;
    width: fit-content;
    float: left;

    }

.c1 label:after { content: ": " }
*/
.b1
{
    margin-right: 10pt;
    margin-left: 10pt;
    margin-top:10pt;
    margin-bottom:10pt;
}